body{
    font-family: Arial;
    background:#f4f6f8;
    text-align:center;
}

h1{
    background:#007bff;
    color:white;
    padding:15px;
}

.container{
    margin:20px auto;
    width:60%;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

input{
    padding:10px;
    margin:5px;
    width:200px;
}

button{
    padding:10px 15px;
    margin:5px;
    border:none;
    background:#007bff;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    border:1px solid #ccc;
}

th{
    background:#007bff;
    color:white;
}
